//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 08 10:14:00 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ramIN<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "ramIN<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "ramIN<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "ramIN<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "ramIN<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "ramIN<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "ramIN<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "ramIN<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "B0" LOCATE = SITE "P11" LEVEL 1;
COMP "B1" LOCATE = SITE "L3" LEVEL 1;
COMP "B2" LOCATE = SITE "K3" LEVEL 1;
COMP "B3" LOCATE = SITE "B4" LEVEL 1;
COMP "B4" LOCATE = SITE "G3" LEVEL 1;
COMP "B5" LOCATE = SITE "F3" LEVEL 1;
COMP "B6" LOCATE = SITE "E2" LEVEL 1;
COMP "B7" LOCATE = SITE "N3" LEVEL 1;
COMP "CIN" LOCATE = SITE "A7" LEVEL 1;
COMP "CLK" LOCATE = SITE "C8" LEVEL 1;
COMP "CLR" LOCATE = SITE "G12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

